<!-- Toolbar -->
<ion-header>
    <ion-toolbar color="secondary" class="toolbar">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Paramètres</ion-title>
    </ion-toolbar>
</ion-header>
<!-- Page content -->
<ion-content color="dark" padding-top>
    <ion-list>
        <ion-item color="dark" class="setItem" *ngFor="let item of appSettings" [routerLink]="[item.url]" routerDirection="forward">
            <ion-icon slot="start" [name]="item.icon" class="setIcon"></ion-icon>
            <ion-label>
                <h3>{{item.label}}</h3>
                <p>{{item.shortDesc}}</p>
            </ion-label>
        </ion-item>
    </ion-list>
</ion-content>