<!-- Toolbar -->
<ion-header>
    <ion-toolbar color="secondary" class="toolbar">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Liste des PAC</ion-title>
    </ion-toolbar>
</ion-header>
<!-- Page content -->
<ion-content color="dark" padding-top>
    <ion-card id="pacCard">
        <ion-card-header text-center class="pacCardHeader">PERSONNES A CONTACTER</ion-card-header>
        <ion-card-content text-center padding class="pacCardContent">
            <ion-row class="pacRows" *ngFor="let pac of user.pacList; let i = index">
                <ion-col size=5 class="pacCols" text-left>
                    <p>{{pac.pseudo}}</p>
                </ion-col>
                <ion-col offset=3 size=4 class="pacCols" text-right>
                    <p>
                        <a routerLink="/settings/pac-list/{{i}}" routerDirection="forward">
                            <ion-icon slot="start" name="log-in"></ion-icon>
                        </a> 
                        <span style="color:var(--ion-color-danger); font-size:140%;"> | </span>
                        <a href="">
                            <ion-icon name="log-out"></ion-icon>
                        </a>
                    </p>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col class="pacCols">
                    <ion-button expand="block" type="submit" class="submitButton" color="danger">
                        <ion-icon slot="start" name="add-circle"></ion-icon>
                        Ajouter
                    </ion-button>
                </ion-col>
            </ion-row>
        </ion-card-content>
    </ion-card>
</ion-content>
<!-- Footer -->
<ion-footer>
    <ion-toolbar color="dark" class="footer" text-center>
        <ion-title>Copyright All right reserved</ion-title>
    </ion-toolbar>
</ion-footer>