// Toolbar AND Footer
.toolbar {
    color: var(--ion-color-danger);
}

.footer {
    color: rgba(230, 132, 132, 0.4);
    font-size: 15%;
}
// Card Header
.pacCardHeader {
    background: var(--ion-color-danger);
}
// Card Content
.pacCardContent {
    background: var(--ion-color-dark-shade);
}
.pacCols, .pacCols p a {
    color: white;
}
.pacRows {
    border-bottom: 1px solid rgb(39, 39, 39);
}
#addButton  {
    box-shadow: 0px 1.3px 1.6px 0px black;
}
#deleteButton {
    cursor: pointer;
}