<!-- Toolbar -->
<ion-header>
    <ion-toolbar color="secondary" class="toolbar">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Liste des PAC</ion-title>
    </ion-toolbar>
</ion-header>
<!-- Page content -->
<ion-content color="dark" padding-top>
    <ion-card>
        <ion-card-header text-center class="cardHeader">PERSONNES A CONTACTER</ion-card-header>
        <ion-card-content text-center padding class="cardContent">
            <ion-list>
                <ion-item class="setItem">
                    <ion-row>
                        <ion-col size=5>
                            <ion-label>
                                <p>Amadou</p>
                            </ion-label>
                        </ion-col>
                        <ion-col opffset=4 size=3>
                            <ion-label>
                                <p>Amadou</p>
                            </ion-label>
                        </ion-col>
                    </ion-row>
                </ion-item>
            </ion-list>
        </ion-card-content>
    </ion-card>
</ion-content>
<!-- Footer -->
<ion-footer>
    <ion-toolbar color="dark" class="footer" text-center>
        <ion-title>Copyright All right reserved</ion-title>
    </ion-toolbar>
</ion-footer>
