<!-- Toolbar -->
<ion-header>
    <ion-toolbar color="medium" class="toolbar">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Home</ion-title>
    </ion-toolbar>
</ion-header>
<!-- Page content -->
<ion-content color="dark" padding>
    <ion-grid>
        <ion-col>
            <ion-card color="danger">
                <ion-card-header>
                    <ion-card-title>
                        Hello World
                    </ion-card-title>
                </ion-card-header>
                <ion-card-content text-center>
                    Lorem Ipsum Et quia Mesopotamiae tractus omnes crebro inquietari sueti praetenturis et
                    stationibus servabantur agrariis, laevorsum flexo itinere Osdroenae subsederat extimas partes,
                    novum parumque aliquando temptatum commentum adgressus. quod si impetrasset, fulminis modo
                    cuncta vastarat. erat autem quod cogitabat huius modi.
                </ion-card-content>
            </ion-card>
        </ion-col>
    </ion-grid>
</ion-content>