<!-- Toolbar -->
<ion-header>
    <ion-toolbar color="secondary" class="toolbar">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Accueil</ion-title>
    </ion-toolbar>
</ion-header>
<!-- Page content -->
<ion-content color="dark" padding>
    <ion-grid>
        <ion-row>
            <ion-col padding text-center>
                <h2>Hello World!</h2>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-card color="danger">
                    <ion-card-content text-center padding>
                        Lorem Ipsum Et quia Mesopotamiae tractus omnes crebro inquietari sueti praetenturis et
                        stationibus servabantur agrariis, laevorsum flexo itinere Osdroenae subsederat extimas partes,
                        novum parumque aliquando temptatum commentum adgressus. quod si impetrasset, fulminis modo
                        cuncta vastarat. erat autem quod cogitabat huius modi.
                    </ion-card-content>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
<!-- Footer -->
<ion-footer>
    <ion-toolbar color="dark" class="footer" text-center>
        <ion-title>Copyright All right reserved</ion-title>
    </ion-toolbar>
</ion-footer>