<!-- Page content -->
<ion-content color="dark" padding>
    <ion-grid>
        <ion-row>
            <ion-col padding text-justify>
                <p>Lorem Ipsum Et quia Mesopotamiae tractus omnes crebro inquietari sueti praetenturis et
                    stationibus servabantur agrariis, laevorsum flexo itinere Osdroenae subsederat extimas partes,
                    novum parumque aliquando temptatum commentum adgressus. quod si impetrasset, fulminis modo
                    cuncta vastarat. erat autem quod cogitabat huius modi.</p>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-card color="danger">
                    <ion-card-content text-center padding>
                        Lorem Ipsum Et quia Mesopotamiae tractus omnes crebro inquietari sueti praetenturis et
                        stationibus servabantur agrariis, laevorsum flexo itinere Osdroenae subsederat extimas partes,
                        novum parumque aliquando temptatum commentum adgressus. quod si impetrasset, fulminis modo
                        cuncta vastarat. erat autem quod cogitabat huius modi.
                    </ion-card-content>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>