<ion-split-pane>
    <!-- Le Menu left side -->
    <ion-menu>
        <ion-header>
            <ion-toolbar color="secondary">
                <ion-title color="danger">SnD APP</ion-title>
            </ion-toolbar>
        </ion-header>
        <ion-content color="secondary">
            <!-- Si l'User est connecté on affiche tous les liens de navigation -->
            <ion-list *ngIf="isLoggedIn(); else loggedOut">
                <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
                    <ion-item [routerDirection]="'root'" [routerLink]="[p.url]" class="menuItem">
                        <ion-icon slot="start" [name]="p.icon"></ion-icon>
                        <ion-label>
                            {{p.title}}
                        </ion-label>
                    </ion-item>
                </ion-menu-toggle>
            </ion-list>
            <!-- Si l'User n'est pas connecté on affiche seulement le lien de connexion -->
            <ng-template #loggedOut>
                <ion-list>
                    <ion-menu-toggle auto-hide="false">
                        <ion-item [routerDirection]="'root'" [routerLink]="['/authentification']" class="menuItem">
                            <ion-icon slot="start" name="log-in"></ion-icon>
                            <ion-label>
                                Connexion
                            </ion-label>
                        </ion-item>
                    </ion-menu-toggle>
                </ion-list>
            </ng-template>
        </ion-content>
    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>
</ion-split-pane>