<!-- Toolbar -->
<ion-header>
    <ion-toolbar color="secondary" class="toolbar">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Modifier la PAC</ion-title>
        <ion-buttons slot="end">
            <ion-back-button></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<!-- Page content -->
<ion-content color="dark">
    <ion-grid>
        <ion-row>
            <ion-col padding text-justify>
                <p>
                    Vous devez remplir tous les champs pour valider le formulaire.
                </p>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-card>
                    <ion-card-header text-center class="cardHeader">PERSONNES A CONTACTER</ion-card-header>
                    <ion-card-content text-center padding class="cardContent">
                        <form #pacForm="ngForm" (ngSubmit)="onSubmit(pacForm)">
                            <ion-list class="formList">
                                <ion-item>
                                    <ion-label position="floating" class="formLabel"><strong>Prénom*</strong></ion-label>
                                    <ion-input type="text" pattern="[a-zA-Zéèïç]+ ?[a-zA-Zéèï]+$" class="formInput" [ngModel]="pac.pseudo"
                                        name="pseudo" id="pseudo" ngModel [required]="pacForm.dirty && pacForm.touched"></ion-input>
                                </ion-item>
                                <ion-item>
                                    <ion-label position="floating" class="formLabel"><strong>Nom*</strong></ion-label>

                                    <ion-input type="text" pattern="[a-zA-Zéèïç]+ ?[a-zA-Zéèïç]+$" class="formInput" [ngModel]="pac.firstName"
                                        name="firstName" id="firstName" ngModel [required]="pacForm.dirty && pacForm.touched"></ion-input>
                                </ion-item>
                                <ion-item>
                                    <ion-label position="floating" class="formLabel"><strong>Téléphone*</strong></ion-label>

                                    <ion-input type="tel" pattern="6[2-5-6][0-9]{7}" class="formInput" [ngModel]="pac.tel"
                                        name="tel" id="tel" ngModel [required]="pacForm.dirty && pacForm.touched"></ion-input>
                                </ion-item>
                            </ion-list>
                            <ion-row>
                                <ion-col padding-top>
                                    <ion-button expand="block" type="submit" id="submitButton" color="danger"
                                        [disabled]="pacForm.invalid">
                                        <ion-icon slot="start" name="add-circle"></ion-icon>
                                        <strong>Enregistrer</strong>
                                    </ion-button>
                                </ion-col>
                            </ion-row>
                        </form>
                    </ion-card-content>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>