// Toolbar
.toolbar {
    color: var(--ion-color-danger);
}

// Card (header + content)
.cardHeader {
    background: var(--ion-color-danger);
    font-weight: bold;
}
.cardContent {
    background: var(--ion-color-dark-shade);
}
// Liste des controls du formulaire
.formList {
    background: var(--ion-color-dark-shade);
}
.formLabel{
    color: var(--ion-color-danger);
}
.formInput {
    background: #2a2a2a;
    color: white;
}
.formLabel {
    z-index: 10000000;
}